<%- include("partials/header.ejs") %>

<!-- content -->
<form action="/api/expenses" method="POST">
	<label for="categoryName">EXPENSE FOR: </label>
	<select name="category" id="categoryName">
		<% categories.forEach((category)=>{ %>
			<option value="<%= category._id %>"><%= category.name %></option>
		<% }); %>
	</select>
	<label for="amount">HOW MUCH: </label>
	<input
		type="number"
		placeholder="amount"
		name="amount"
		id="amount"
		step=".01"
	/>
	<label for="date">DATE: </label>
	<input type="date" name="date" id="date" />
	<input type="submit" value="ADD EXPENSE" />
</form>

<%- include("partials/footer.ejs") %>
