<%- include("partials/header.ejs") %>

    <!-- content -->
    <% if(categories.length !== 0) { %>
    <div id="categories">
        <% categories.forEach((category)=>{ %>
            <div class="categoryItem" style="border: 5px solid <%= category.color %>">
                <h4><%= category.name %></h4>
            </div>
        <% }); %>
    </div>
    <% } %>

<%- include("partials/footer.ejs") %>