<%- include("partials/header.ejs") %>

    <!-- content -->
    <% if(categories.length !== 0) { %>
    <ul id="categories">
        <% categories.forEach((category)=>{ %>
            <li class="categoryItem" style="border: 5px solid <%= category.color %>">
                <h4><%= category.name %></h4>
            </li>
        <% }); %>
    </ul>
    <% } %>

<%- include("partials/footer.ejs") %>